<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Pitchboy-Test | Home</title>
    </head>
    <body>
        <%- include('../partials/header') %>
    </body>
</html>