<nav>
    <ul>
        <li><a href="/cities">Toutes les villes</a></li>
        <li><a href="/search">Recherche de ville</a></li>
        <li><a href="/modify">Modification de ville</a></li>
        <li><a href="/delete">Supression de ville</a></li>
    </ul>
</nav>